body {
    margin: 0;
    background-color: #000;
    width: 1200px;
    margin: auto;
}
#router-view {
    margin-top: 50px;
}
::selection {
    background-color: rgb(230, 160, 230);
    color: rgb(70, 0, 70);
}
h1 {
    color: rgb(208, 161, 223);
}
h2 {
    color: rgb(194, 107, 221);
}
h3 {
    color: rgb(194, 107, 221);
}
h4 {
    color: rgb(194, 107, 221);
}
h5 {
    color: rgb(194, 107, 221);
}
button {
    background-color: #92b5e0; 
    color: #22374d;
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 3px 0 3px;
}
button:disabled,
button[disabled]{
    opacity: 50%;
    cursor: not-allowed;
}
button.large-button {
    padding: 10px 15px;
    font-size: 16px;
}
::placeholder {
    color: rgb(155, 184, 184);
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
form {
    max-width: 420px;
    margin: 30px auto;
    background: darkslategray;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}
label {
    color: #fff;
    display: inline-block;
    margin: 25px 0 15px;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
input, select {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    background: darkslategray;
    color: #fff;
    border-radius: 7px;  
}
input[type="checkbox"] {
    display: inline-block;
    width: 16px;
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
}
textarea {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    background: darkslategray;
    color: #fff;
    border-radius: 7px;  
    font-family: Avenir, Helvetica, Arial, sans-serif;
}